#nav-logo {
  padding-top: 5px;
  height: 50px;
  width: 60px;
  border: 1px solid white;
  border-radius: 10px;
}
#nav-logo:hover {
  border: 1px solid lightblue;
  box-shadow: 2px 2px 5px 0px lightblue;
}

#profile-image {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: 2px solid white;
}
#profile-image:hover {
  border: 2px solid lightblue;
  box-shadow: 2px 2px 5px 0px lightblue;
}

.navbar-container {
  background-color: rgb(1, 27, 40);
  height: 70px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  padding: 0px 20px;
  box-shadow: 0px 0px 10px 0px lightblue;
}
.navbar-container form #search-bar {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 10px;
  height: 0.6rem;
}
.navbar-container button {
  padding: 5px;
  background-color: white;
  border: #023047;
  border-radius: 5px;
  color: #023047;
  font-size: 1rem;
  transition: all 0.3s ease;
}
.navbar-container button:hover {
  color: rgb(1, 27, 40);
  background-color: lightblue;
}
.navbar-container a {
  color: whitesmoke;
  padding-right: 40px;
  padding-left: 10px;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}
.navbar-container a:hover {
  color: lightblue;
}
.navbar-container p #user-link {
  padding: 0;
  margin: 0;
}

.home-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding-bottom: 70px;
}
.home-container .topics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  background-color: rgb(1, 27, 40);
  border-radius: 10px;
  margin: 20px;
  margin-top: 40px;
  box-shadow: 0px 0px 10px 0px lightblue;
}
.home-container .topics .topic-links {
  padding: 5px;
}
.home-container .topics .topic-links span {
  padding-left: 5px;
}
.home-container .topics #topic-header {
  align-items: flex-start;
  font-size: 2rem;
  padding-bottom: 10px;
  text-decoration: underline;
}
.home-container .topics p {
  font-size: 1.1rem;
}
.home-container .topics #topic-activity-header {
  font-size: 1.5rem;
  padding-top: 20px;
  padding-bottom: 10px;
  text-decoration: underline;
}
.home-container .topics #topic-activity-container {
  border-radius: 5px;
  border: white;
  width: 90%;
  text-align: left;
}
.home-container .topics #topic-activity-info {
  text-decoration: underline;
  padding-top: 6px;
}
.home-container .topics #topic-activity-message {
  font-size: 1.1rem;
}
.home-container .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  background-color: rgb(1, 27, 40);
  border-radius: 10px;
  margin: 20px;
  margin-top: 40px;
  box-shadow: 0px 0px 10px 0px lightblue;
}
.home-container .main h5 {
  align-items: flex-start;
  font-size: 1rem;
  margin-bottom: 10px;
}
.home-container .main a {
  font-size: 1.4rem;
}
.home-container .main .main-rooms-container {
  width: 100%;
  padding: 20px;
}
.home-container .main .main-rooms-container .main-rooms {
  padding: 20px;
}
.home-container .main .main-rooms-container .main-rooms a {
  color: lightblue;
}
.home-container .main .main-rooms-container .main-rooms a:hover {
  scale: 1.1;
  text-shadow: 1px 1px 5px white;
}
.home-container .main .main-rooms-container .main-rooms #main-host small {
  color: lightblue;
}
.home-container .main .main-rooms-container .main-rooms .main-delete {
  float: right;
  font-size: 0.8rem;
  padding-left: 10px;
}
.home-container .activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  background-color: rgb(1, 27, 40);
  border-radius: 10px;
  margin: 20px;
  margin-top: 40px;
  box-shadow: 0px 0px 10px 0px lightblue;
}
.home-container .activity h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-decoration: underline;
}
.home-container .activity p {
  font-size: 1.2rem;
  padding-bottom: 10px;
}
.home-container .activity small {
  font-size: 0.9rem;
  text-decoration: underline;
}
.home-container .activity #recent-delete {
  font-size: 0.5rem;
  text-align: right;
}

#login-container {
  width: 80vw;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 40px;
  background-color: rgb(1, 27, 40);
  border-radius: 10px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 70px;
  box-shadow: 0px 0px 10px 0px lightblue;
  transition: all 0.3s ease;
}
#login-container:hover {
  box-shadow: 0px 0px 15px 0px lightblue;
}
#login-container h2 {
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  padding-bottom: 50px;
}
#login-container form {
  text-align: center;
}
#login-container form label {
  font-size: 1.5rem;
  padding-bottom: 10px;
}
#login-container form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #023047;
  background-color: rgba(0, 0, 0, 0.75);
  color: whitesmoke;
  font-size: 1.1rem;
  margin-bottom: 20px;
}
#login-container form button {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #023047;
  background-color: white;
  color: #023047;
  font-size: 1.1rem;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
#login-container form button:hover {
  background-color: #023047;
  color: white;
}
#login-container p {
  font-size: 1.4rem;
  padding-top: 20px;
}
#login-container a {
  padding-top: 5px;
  color: lightblue;
  font-size: 1.4rem;
  transition: all 0.3s ease;
}
#login-container a:hover {
  color: white;
}

#delete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  background-color: rgb(1, 27, 40);
  border-radius: 10px;
  margin: 20px;
  margin-top: 40px;
  box-shadow: 0px 0px 10px 0px lightblue;
  margin-bottom: 80px;
}
#delete-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
#delete-container h3 {
  padding: 10px;
  font-size: 2rem;
}
#delete-container p {
  padding: 10px;
  font-size: 1.3rem;
}
#delete-container button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #023047;
  background-color: white;
  color: #023047;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
#delete-container button:hover {
  box-shadow: 0px 0px 10px 0px lightblue;
}
#delete-container a {
  padding-bottom: 10px;
  color: lightblue;
  font-size: 1.4rem;
  transition: all 0.3s ease;
}
#delete-container a:hover {
  color: white;
}

#register-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 50px;
  background-color: rgb(1, 27, 40);
  border-radius: 10px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 70px;
  box-shadow: 0px 0px 10px 0px lightblue;
  transition: all 0.3s ease;
}
#register-container:hover {
  box-shadow: 0px 0px 15px 0px lightblue;
}
#register-container h2 {
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  padding-bottom: 50px;
}
#register-container form {
  text-align: center;
}
#register-container form label {
  font-size: 1.5rem;
  padding-bottom: 10px;
}
#register-container form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #023047;
  background-color: rgba(0, 0, 0, 0.75);
  color: whitesmoke;
  font-size: 1.1rem;
  margin-bottom: 20px;
}
#register-container form button {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #023047;
  background-color: white;
  color: #023047;
  font-size: 1.1rem;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
#register-container form button:hover {
  background-color: #023047;
  color: white;
}
#register-container p {
  font-size: 1.4rem;
  padding-top: 20px;
}
#register-container a {
  padding-top: 5px;
  color: lightblue;
  font-size: 1.4rem;
  transition: all 0.3s ease;
}
#register-container a:hover {
  color: white;
}

.comment-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  background-color: rgb(1, 27, 40);
  border-radius: 10px;
  margin: 20px;
  margin-top: 40px;
  box-shadow: 0px 0px 10px 0px lightblue;
  align-items: center;
  margin-bottom: 80px;
}
.comment-wrapper h3 {
  align-self: center;
  text-decoration: underline;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.comment-wrapper .comments {
  width: 100%;
}
.comment-wrapper .message {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding: 10px;
  margin: 20px;
  background-color: rgb(1, 27, 40);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px lightblue;
}
.comment-wrapper .user-message {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding: 10px;
  margin: 20px;
  background-color: rgb(1, 38, 56);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px lightblue;
  text-align: right;
}
.comment-wrapper .comment-form {
  align-self: center;
  padding-top: 40px;
  padding: 20px;
  width: 80%;
}
.comment-wrapper .comment-form textarea {
  width: 100%;
  color: rgb(1, 27, 40);
}
.comment-wrapper .comment-form button {
  color: rgb(1, 27, 40);
  align-content: flex-end;
  justify-content: flex-end;
  padding: 5px;
  margin-top: 5px;
}

#room-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  background-color: rgb(1, 27, 40);
  border-radius: 10px;
  margin: 20px;
  margin-top: 40px;
  box-shadow: 0px 0px 10px 0px lightblue;
  padding-top: 0px;
}

#room-participants {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  background-color: rgb(1, 27, 40);
  border-radius: 10px;
  margin: 20px;
  margin-top: 40px;
  box-shadow: 0px 0px 10px 0px lightblue;
  margin-bottom: 80px;
}
#room-participants a:hover {
  text-decoration: underline;
  color: lightblue;
}

#room-name {
  font-size: 3rem;
  padding-bottom: 10px;
  padding-left: 10px;
  text-decoration: underline;
}

.new-room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  background-color: rgb(1, 27, 40);
  border-radius: 10px;
  margin: 20px;
  margin-top: 40px;
  box-shadow: 0px 0px 10px 0px lightblue;
}
.new-room #new-room-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.new-room #new-room-form input {
  margin: 10px;
  color: rgb(1, 27, 40);
}
.new-room #new-room-form select {
  margin: 10px;
  color: rgb(1, 27, 40);
}
.new-room #new-room-form textarea {
  margin: 10px;
  color: rgb(1, 27, 40);
}
.new-room #new-room-form option {
  color: rgb(1, 27, 40);
  margin: 10px;
}
.new-room #new-room-form button {
  margin: 10px;
  color: rgb(1, 27, 40);
}

h1 {
  text-align: center;
  font-size: 3rem;
  padding-top: 20px;
  text-decoration: underline;
  text-shadow: 0px 0px 10px lightblue;
}

.profile-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.profile-container .topics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  background-color: rgb(1, 27, 40);
  border-radius: 10px;
  margin: 20px;
  margin-top: 40px;
  box-shadow: 0px 0px 10px 0px lightblue;
  margin-bottom: 80px;
}
.profile-container .topics #topic-header {
  align-items: flex-start;
  font-size: 2rem;
  padding-bottom: 10px;
  text-decoration: underline;
}
.profile-container .topics p {
  font-size: 1.1rem;
}
.profile-container .topics #topic-activity-header {
  font-size: 1.5rem;
  padding-top: 20px;
  padding-bottom: 10px;
  text-decoration: underline;
}
.profile-container .topics #topic-activity-container {
  border-radius: 5px;
  border: white;
  text-align: center;
}
.profile-container .topics #topic-activity-info {
  text-decoration: underline;
  padding-top: 6px;
}
.profile-container .topics #topic-activity-message {
  font-size: 1.1rem;
}
.profile-container .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  background-color: rgb(1, 27, 40);
  border-radius: 10px;
  margin: 20px;
  margin-top: 40px;
  box-shadow: 0px 0px 10px 0px lightblue;
  margin-bottom: 80px;
}
.profile-container .main h5 {
  align-items: flex-start;
  font-size: 1rem;
  margin-bottom: 10px;
}
.profile-container .main a {
  font-size: 1.4rem;
}
.profile-container .main .main-rooms-container {
  width: 100%;
  padding: 20px;
}
.profile-container .main .main-rooms-container .main-rooms {
  padding: 20px;
}
.profile-container .main .main-rooms-container .main-rooms .main-delete {
  float: right;
  font-size: 0.8rem;
  padding-left: 10px;
}
.profile-container .activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  background-color: rgb(1, 27, 40);
  border-radius: 10px;
  margin: 20px;
  margin-top: 40px;
  box-shadow: 0px 0px 10px 0px lightblue;
  margin-bottom: 80px;
}
.profile-container .activity h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-decoration: underline;
}
.profile-container .activity p {
  font-size: 1.2rem;
  padding-bottom: 10px;
}
.profile-container .activity small {
  font-size: 0.9rem;
  text-decoration: underline;
}
.profile-container .activity #recent-delete {
  font-size: 0.5rem;
  text-align: right;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
}

a {
  text-decoration: none;
  color: lightblue;
}

.room-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

body {
  background-color: #023047;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: rgb(1, 27, 40);
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0px;
  padding: 0px 20px;
  box-shadow: 0px 0px 10px 0px lightblue;
}
footer .social-links {
  font-size: 1.4rem;
  padding-right: 20px;
}
footer .social-links a {
  padding-right: 10px;
}
footer .social-links a i:hover {
  color: lightblue;
  transition: all 0.3s ease;
  scale: 1.3;
}
footer p {
  padding-right: 50px;
  color: whitesmoke;
  font-size: 1.1rem;
}/*# sourceMappingURL=main.css.map */