#nav-logo {
    padding-top: 5px;
    height: 50px;
    width: 60px;
    border: 1px solid white;
    border-radius: 10px;
    

}

.navbar-container {
    background-color: rgb(1, 27, 40);
    height: 70px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px 20px;
    box-shadow: 0px 0px 10px 0px lightblue;
   
    form #search-bar {
        background-color: rgba(0,0,0,0.75);
        padding: 10px;
        height: .6rem;

    }
    
    button{
        padding: 5px;
        background-color: white;
        border: #023047ff;
        border-radius: 5px;
        color: #023047ff;
        font-size: 1rem;
        transition: all 0.3s ease;
        &:hover {
            color: rgb(1, 27, 40);
            background-color: lightblue;
        }
    }

   a {
        color: whitesmoke;
        padding-right: 40px;
        padding-left: 10px;
        font-size: 1.1rem;
        transition: all 0.3s ease;
        &:hover {
            color: lightblue;
        }
    }
   
}