#register-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 50px;
    background-color: rgb(1, 27, 40);
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 70px;
    box-shadow: 0px 0px 10px 0px lightblue;
    transition: all 0.3s ease;
    &:hover {
        box-shadow: 0px 0px 15px 0px lightblue;
    }

    h2 {
        text-align: center;
        font-size: 3rem;
        text-decoration: underline;
        padding-bottom: 50px;
    }

    form {
        text-align: center;
    

        label {
            font-size: 1.5rem;
            padding-bottom: 10px;
        }
        
        input {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #023047ff;
            background-color: rgba(0,0,0,0.75);
            color: whitesmoke;
            font-size: 1.1rem;
            margin-bottom: 20px;
        }

        button {
            text-align: center;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #023047ff;
            background-color: white;
            color: #023047ff;
            font-size: 1.1rem;
            margin-bottom: 20px;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
                background-color: #023047ff;
                color: white;
            }
        }
    }

    p {
        font-size: 1.4rem;
        padding-top: 20px;
    }

    a {
        padding-top: 5px;
        color: lightblue;
        font-size: 1.4rem;
        transition: all 0.3s ease;
        &:hover {
            color: white;
        }
    }

}