.comment-wrapper {
    @include section_container;
    align-items: flex-start;
    h3 {
        align-self: center;
        text-decoration: underline;
        font-size: 1.5rem;
    }

    .message {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding: 10px;
        margin: 10px;
        background-color: rgb(1, 27, 40);
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px lightblue; 

    }

    .comment-form {
        align-self: flex-end;
        padding-top: 40px;
        padding:20px;
        
        textarea {
            color:rgb(1, 27, 40);
        }

        button{
            color:rgb(1, 27, 40);
            align-self: flex-end;
            padding: 5px;
            margin-top: 5px;
        }
    }
}

#room-header{
    @include section_container;
}

#room-participants{
    @include section_container;
}

#room-name {
    font-size: 3rem;
    padding-bottom: 10px;
    padding-left: 10px;
    text-decoration: underline;
}

.new-room {
    @include section_container;
    
    #new-room-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        
        input {
            margin: 10px;
            color:rgb(1, 27, 40);
        }
        select{
            margin: 10px;
            color: rgb(1, 27, 40);
        }
        textarea {
            margin: 10px;
            color:rgb(1, 27, 40);
        }
        option {
            color: rgb(1, 27, 40);
            margin: 10px;
        }
        button {
            margin: 10px;
            color:rgb(1, 27, 40);
            
        }
    }
}