@mixin section_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background-color: rgb(1, 27, 40);
        border-radius: 10px;
        margin: 20px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        transition: all 0.3s ease;
        &:hover {
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
        }

    }

.home-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    .topics {
        @include section_container;
        h3 {
            font-size: 2.5rem;
            margin-bottom: 10px;
            
        }
        p {
            font-size: 1.1rem;
        }
    }

    .main {
        @include section_container;
        h2 {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }
        p {
            font-size: 1.1rem;
        }

        .main-rooms-container {
            width: 100%;
            padding: 20px;
        }
    }

    .activity {
        @include section_container;
        h2 {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }
        p {
            font-size: 1.1rem;
        }
    }
}