@import 'navbar.scss';
@import 'home.scss';
@import 'login.scss';
@import 'register.scss';

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color:whitesmoke;
}

a {
    text-decoration: none;
    color: lightblue;
}



.room-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    
}

 body {
    background-color: #023047ff;
 }

footer {
    position: fixed;
    bottom: 0;
    background-color: rgb(1, 27, 40);
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0px;
    padding: 0px 20px;
    box-shadow: 0px 0px 10px 0px lightblue;
    
    .social-links {
        font-size: 1.4rem;
        padding-right: 20px;

        a{
            padding-right: 10px;
            i:hover {
                color: lightblue;
                transition: all 0.3s ease;
                scale: 1.3;
            }

        }

    }
    p {
        padding-right: 50px;
        color: whitesmoke;
        font-size: 1.1rem;
    }
 }