#nav-logo {
    height: 40px;
    width: 50px;
}

.home-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    
}

/* this is not working here*/
.room-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}