<footer>
    <div class="social-links">
        <a href="https://github.com/wtcrowe4"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/wthomascrowe/"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://www.facebook.com/tcrowe4/"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/tcroweiv/"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <p><i class="fa-regular fa-copyright"></i>2022 Thomas Crowe</p>
</footer>