<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord Clone</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/css/main.css' %}" />
    <script src="https://kit.fontawesome.com/d1c0a86946.js" crossorigin="anonymous"></script>
</head>
<body>
    {% load static %}
    
    {% include 'navbar.html' %}

    {% if messages %}
        {% for message in messages %}
            <div class="message">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}

    {% include 'footer.html' %}
            
</body>
</html>