{% load static %}

{% block navbar %}
<div class="navbar-container">
    <a href="/">
        <img id="nav-logo" src="{% static 'images/white-logo.png' %}" alt="Logo" />
    </a>
    <form method="GET" action="{% url 'home' %}" class="search-form">
        <input id="search-bar" type="text" name="q" placeholder="Search..." />
        <button type="submit">Search</button>
    </form>

    <!-- Add link for profile -->

    {% if request.user.is_authenticated %}
        <p>
            Hey, <a id="user-link" href="{% url 'profile' user.id %}">{{ user.username }}</a>
            <a href="{% url 'logout' %}">Logout</a>
        </p>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>

{% endblock %}