

<h3>Recent Activity</h3>
        <div>
            
            {% for message in recent_messages %}
                <div>
                    
                    <small>
                        <a href="{% url 'profile' message.user.id %}">
                            @{{ message.user.username }}
                        </a> 
                        {{ message.created|timesince }}
                    </small>
                    {% if request.user == message.user %}
                    <span><a id="recent-delete" href="{% url 'delete-message' message.id %}">Delete</a></span>
                    {% endif %}
                    <p>{{ message }}</p>
                   
                </div>
                
            {% endfor %}


