

<h3>Recent Activity</h3>
        <div>
            {% for message in recent_messages %}
                <div>
                    <small>
                        <a href="{% url 'profile' message.user.id %}">
                            @{{ message.user.username }}
                        </a> 
                        {{ message.created|timesince }}
                    </small>
                    <p>{{ message }}</p>
                    {% if request.user == message.user %}
                        <small><a href="{% url 'delete-message' message.id %}">Delete</a></small>
                    {% endif %}
                </div>
                <hr>
            {% endfor %}


