{% extends 'main.html' %}

{% block content %}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<div class="home-container">
    <div>
        {% include 'app/topic_comp.html' %}
    </div>
    
    <div>
        <h5>{{room_count}} rooms created.</h5>
        <a href="{% url 'create-room' %}">Create a new room.</a>
        <hr>
        <div>
            {% for room in rooms %}
                <div>
                    <h3><a href="{% url 'room' room.id %}">{{ room.name }}</a></h3>
                    <small>{{room.topic.name}}</small>
                    <small>@{{room.host.username}}</small>
                    {% if request.user == room.host %}
                    <a href="{% url 'update-room' room.id %}">Edit</a>
                    <a href="{% url 'delete-room' room.id %}">Delete</a>
                    {% endif %}
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>

    <div>
        {% include 'app/activity_comp.html' %}
    </div>
</div>

{% endblock %}