{% extends 'main.html' %}
{% load static %}

{% block content %}



<div class="room-container">
    <div>
        <div id="room-header">
            <h1 id="room-name">{{  room.name  }}</h1>
            <p>{{ room.description }}</p>
        </div>
        <div class="comment-wrapper">
            <h3>Messages</h3>
            <div class="comments">
                
                {% for message in room_messages %}
                    {% if request.user != message.user %}
                    <div class="message">
                        <div>
                            <small><a href="{% url 'profile' message.user.id %}">@{{ message.user.username }}</a></small>
                            <small>{{ message.created|timesince }}</small>
                            <hr>
                        </div>
                        <div>
                            {{ message.message }}
                        </div>
                    </div>
                    {% endif %} 
                    {% if request.user == message.user %}
                    <div class="user-message">
                        <div>
                            <small><a href="{% url 'profile' message.user.id %}">@{{ message.user.username }}</a></small>
                            <small>{{ message.created|timesince }}</small>
                            <hr>
                        </div>
                        <div>
                            {{ message.message }}
                        </div>
                        <small><a href="{% url 'delete-message' message.id %}">Delete</a></small>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            
            {%  if request.user.is_authenticated %}
            <div class="comment-form">
                <form method="POST" action="" >
                    {% csrf_token %}
                    
                    <div>
                        <textarea name="message" id="message" placeholder="Write your message here..."></textarea>
                    </div>
                    <div>
                        <button type="submit">Send</button>
                    </div>
                </form>
            </div>
            
            {% endif %}
        
        </div>
    </div>
    <div id="room-participants">
        <h3>Participants</h3>
        {% for participant in participants %}
            <div>
                <!-- add participant name here     -->
                <a href="{% url 'profile' participant.id %}"><small>@{{ participant.username }}</small></a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
