{% load static %}

{% block topics %}
<h3 id="topic-header">Topics</h3>
<div class="topic-links">
    <a href="{% url 'home' %}">All   <span>{{topics.count}}</span></a>
</div>
{% for topic in topics %}
    <div>
        <a href="{% url 'home' %}?q={{topic.name}}">{{ topic.name }} <span>{{topic.room_set.all.count}}</span></a>
    </div>
{% endfor %}
<h4 id="topic-activity-header">Topic Activity</h4>
{% for topic_message in topic_messages %}
    <div id="topic-activity-container">
        <div id="topic-activity-info">
            <small>@{{ topic_message.user.username }}</small>
            <small>{{ topic_message.created|timesince }}</small>
        </div>
        <div id="topic-activity-message">
            {{ topic_message.message }}
        </div>
    </div>
{% endfor %}

{% endblock %}